<!DOCTYPE html>
<html>
<head>
  <title>LinguanaApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="header">
  <nav class="header-nav group">
    <h1 class="header-nav-logo">
      linguana
    <h2 class="header-nav-login-button">Login</h2>
  </nav>
</header>


<% flash[:errors].try(:each) do |error|  %>
  <h3 class="flash-error"><%= error %><h3>
<% end  %>

<%= yield %>

</body>
</html>
