<div class="new-user-form splash-form">
  <form action="<%= users_url %>" method="post">
    <%= auth_token_input %>

    <div class="inputs">

      <input id="user-username"
             name="user[username]"
             value="<%= @user.username %>"
             placeholder="Username">

      <input type="password"
             id="user-password"
             name="user[password]"
             placeholder="Password">

      <input id="user-name"
             name="user[name]"
             value="<%= @user.name %>"
             placeholder="Name">

      <input id="user-email"
             name="user[email]"
             value="<%= @user.email %>"
             placeholder="Email">

      <button>Sign up</button>
    </div>

  </form>


  <form class="signup-button" action="<%= new_session_url %>" method="get">
    <button>Already a member?</button>
  </form>
</div>
