<div class="new-user-form splash-form">
  <form action="<%= users_url %>" method="post">
    <%= auth_token_input %>

    <div class="inputs">
      <label for="user-username"></label>
      <input id="user-username"
             name="user[username]"
             value="<%= @user.username || "Username"%>">

      <label for="user-password"></label>
      <input type="password"
             id="user-password"
             name="user[password]"
             value="password">

      <label for="user-name"></label>
      <input id="user-name" name="user[name]" value="<%= @user.name || "Name" %>">

      <label for="user-email"></label>
      <input id="user-email" name="user[email]" value="<%= @user.email || "Email" %>">
      <button>Sign up</button>
    </div>

  </form>


  <form class="signup-button" action="<%= new_session_url %>" method="get">
    <button>Already a member?</button>
  </form>
</div>
