<!DOCTYPE html>
<html>
<head>
  <title>Linguana</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link
    href='https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700'
    rel='stylesheet'
    type='text/css'>
</head>
<body>

<% flash[:errors].try(:each) do |error|  %>
  <h3 class="flash-error"><%= error %><h3>
<% end  %>

<%= yield %>

</body>
</html>
